# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Don't commit binaries
bin

# Before we provision the localnet, `ignite` creates the accounts, genesis, etc. for us
# As many of the files are dynamic, we only preserve the config files in git history.
localnet/pocketd/*
localnet/*/config/*.json
!localnet/pocketd/config/
!localnet/pocketd/config/app.toml
!localnet/pocketd/config/client.toml
!localnet/pocketd/config/config.toml

# Macos
.DS_Store
**/.DS_Store

# Development
.vscode
.env
.idea/
.mise.local.toml

# Frontend utils
ts-client/

# Mock
**/*_mock.go

# Localnet config
localnet_config.yaml
# NB: The helper sed command to update `localnet_config` was updated
# so its universal across Linux & macOS. Though it work, it creates this
# extra file. If you are reading this and can think of a way to improve
# `docusaurus/docs/infrastructure/localnet.md`, please do!
# Ref: https://stackoverflow.com/questions/4247068/sed-command-with-i-option-failing-on-mac-but-works-on-linux
localnet_config.yaml-e
# These are needed to ignore byproducts of `make proto_fix_self_import`
# Since sed functions different on macOS and Linux, we need to implement
# some workarounds by always using "sed -i'' -e" instead of just "sed -i -e".
api/pocket/**/*.go-E

# Release artifacts produced by `ignite chain build --release`
release
release_binaries

# Only keep one go module in our codebase
go.work.sum

# Avoid accidentally committing gomock artifacts
**/gomock_reflect_*

# SMT KVStore files
smt
smt_stores

# Do not allow a multi-moduled projected
go.work.sum

# TODO_TECHDEBT: It seems that .dot files come and go so we need to figure out the root cause: https://github.com/pokt-network/poktroll/pull/177/files#r1392521547
# **/*.dot

# Load-test summary report, mentioning in gitignore to avoid accidentally committing it
summary.html

# Quickstart helpers
shannon_appgate_config.yaml
shannon_app_config.yaml
shannon_relayminer_config.yaml
shannon_supplier_config.yaml

gentx-*.json

# Binaries VSCode builds for debugging
cmd/pocket/*debug_bin*

# The temporary file created by e2e scripts
job.yaml

# tmp directory for locally produced artifacts
tmp/*

# Common testing configurations
relayminer_config.yaml
gateway_config.yaml
path_config.yaml

# vultr files created during creation and deletion of new instances that may contain sensitive information
vultr_*.json

# Ignore Morse migration state working files
tools/scripts/migration/*.json

# Claude
.claudesync/
