# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Don't commit binaries
bin
!bin/.keep

# Before we provision the localnet, `ignite` creates the accounts, genesis, etc. for us
# As many of the files are dynamic, we only preserve the config files in git history.
localnet/pocketd/*
localnet/*/config/
!localnet/*/config/{app.toml,client.toml,config.toml}

# Macos
.DS_Store
**/.DS_Store

# Development
.vscode
.env
.idea/

# Compiled protos
**/*.pb.go
**/*.pb.gw.go

# Frontend utils
ts-client/
