version: 1
build:
  main: cmd/poktrolld
accounts:
  - name: faucet
    mnemonic: "baby advance work soap slow exclude blur humble lucky rough teach wide chuckle captain rack laundry butter main very cannon donate armor dress follow"
    coins:
      - 999999999999999999upokt
  # PNF represents the multisig address that acts on behalf of the DAO
  - name: pnf
    mnemonic: "crumble shrimp south strategy speed kick green topic stool seminar track stand rhythm almost bubble pet knock steel pull flag weekend country major blade"
    coins:
      - 69000000000000000000042upokt
  - name: validator1
    mnemonic: "creek path rule retire evolve vehicle bargain champion roof whisper prize endorse unknown anchor fashion energy club sauce elder parent cotton old affair visa"
    coins:
      - 900000000000000upokt
  - name: app1
    mnemonic: "mention spy involve verb exercise fiction catalog order agent envelope mystery text defy sing royal fringe return face alpha knife wonder vocal virus drum"
    coins:
      - 100000000upokt
  - name: app2
    mnemonic: "material little labor strong search device trick amateur action crouch invite glide provide elite mango now paper sense found hamster neglect work install bulk"
    coins:
      - 200000000upokt
  - name: app3
    mnemonic: "involve clean slab term real human green immune valid swing protect talk silent unique cart few ice era right thunder again drop among bounce"
    coins:
      - 300000000upokt
  - name: supplier1
    mnemonic: "cool industry busy tumble funny relax error state height like board wing goat emerge visual idle never unveil announce hill primary okay spatial frog"
    coins:
      - 110000000upokt
  - name: supplier2
    mnemonic: "peanut hen enroll meat legal have error input bulk later correct denial onion fossil wing excuse elephant object apology switch claim rare decide surface"
    coins:
      - 220000000upokt
  - name: supplier3
    mnemonic: "client city senior tenant source soda spread buffalo shaft amused bar carbon keen off feel coral easily announce metal orphan sustain maple expand loop"
    coins:
      - 330000000upokt
  - name: gateway1
    mnemonic: "salt iron goat also absorb depend involve agent apology between lift shy door left bulb arrange industry father jelly olive rifle return predict into"
    coins:
      - 100000000upokt
  - name: gateway2
    mnemonic: "suffer wet jelly furnace cousin flip layer render finish frequent pledge feature economy wink like water disease final erase goat include apple state furnace"
    coins:
      - 200000000upokt
  - name: gateway3
    mnemonic: "elder spatial erosion soap athlete tide subject recipe also awkward head pattern cart version beach usual oxygen confirm erupt diamond maze smooth census garment"
    coins:
      - 300000000upokt
  - name: unauthorized
    mnemonic: "abuse tumble whip pioneer immense pipe method note upon glory switch rail metal camp gasp top require rain party total struggle glance between fossil"
    coins:
      - 100000upokt
faucet:
  name: faucet
  coins:
    - 10000upokt
client:
  typescript:
    path: ts-client
  hooks:
    path: react/src/hooks
  openapi:
    path: docs/static/openapi.yml
validators:
  - name: validator1
    bonded: 900000000upokt
    app:
      telemetry:
        enabled: true
        prometheus-retention-time: "600" # seconds
    config:
      moniker: "validator1"
      consensus:
        timeout_commit: "2s"
        timeout_propose: "2s"
      instrumentation:
        prometheus: true
      log_level: "info"
    client:
      chain-id: poktroll

# We can persist arbitrary genesis values via 1 to 1 mapping to genesis.json
genesis:
  app_state:
    mint:
      params:
        mint_denom: upokt
    staking:
      params:
        bond_denom: upokt
        # TODO_MAINNET(@Olshansk): Figure out what this should be on Shannon
        # re-genesis. We're setting it to 1 for Alpha TestNet #1 so Grove
        # maintains the only validator until Alpha TestNet #2.
        max_validators: 1
    crisis:
      constant_fee:
        amount: "10000"
        denom: upokt
    gov:
      params:
        min_deposit:
          - amount: "10000"
            denom: upokt
    bank:
      supply:
        - amount: "1003000204"
          denom: upokt
      balances:
        # Application module
        - address: pokt1rl3gjgzexmplmds3tq3r3yk84zlwdl6djzgsvm
          coins:
            - amount: "1000068" # Equals to the total of all app stakes below
              denom: upokt
        # Supplier module
        - address: pokt1j40dzzmn6cn9kxku7a5tjnud6hv37vesr5ccaa
          coins:
            - amount: "1000068" # Equals to the total of all supplier stakes below
              denom: upokt
        # Gateway module
        - address: pokt1f6j7u6875p2cvyrgjr0d2uecyzah0kget9vlpl
          coins:
            - amount: "1000068" # Equals to the total of all gateway stakes below
              denom: upokt
        # Service module
        - address: pokt1nhmtqf4gcmpxu0p6e53hpgtwj0llmsqpxtumcf
          coins:
            - amount: "1000000000" # Equals to one add_service_fee below
              denom: upokt
    application:
      params:
        max_delegated_gateways: "7"
      applicationList:
        - address: pokt1mrqt5f7qh8uxs27cjm9t7v9e74a9vvdnq5jva4
          delegatee_gateway_addresses: [ ]
          service_configs:
            - service:
                id: anvil
                name: ""
            - service:
                id: ollama
                name: ""
          stake:
            # NB: This value should be exactly 1upokt smaller than the value in
            # `supplier1_stake_config.yaml` so that the stake command causes a state change.
            amount: "1000068"
            denom: upokt
    supplier:
      supplierList:
        - address: pokt19a3t4yunp0dlpfjrp7qwnzwlrzd5fzs2gjaaaj
          services:
            - endpoints:
                - configs: [ ]
                  rpc_type: JSON_RPC
                  url: http://relayminer1:8545
              service:
                id: anvil
                name: ""
            - endpoints:
                - configs: [ ]
                  rpc_type: REST
                  url: http://relayminer1:8545
              service:
                id: ollama
                name: ""
          stake:
            # NB: This value should be exactly 1upokt smaller than the value in
            # `application1_stake_config.yaml` so that the stake command causes a state change.
            amount: "1000068"
            denom: upokt
    gateway:
      gatewayList:
        - address: pokt15vzxjqklzjtlz7lahe8z2dfe9nm5vxwwmscne4
          stake:
            # NB: This value should be exactly 1upokt smaller than the value in
            # `gateway1_stake_config.yaml` so that the stake command causes a state change.
            amount: "1000068"
            denom: upokt
    service:
      params:
        add_service_fee: "1000000000"
    proof:
      params:
        proof_request_probability: "0.25"
        proof_requirement_threshold: 20
        proof_missing_penalty:
          amount: "320"
          denom: upokt
    shared:
      params:
        num_blocks_per_session: 4
        grace_period_end_offset_blocks: 2
        claim_window_open_offset_blocks: 0
        claim_window_close_offset_blocks: 4
        proof_window_open_offset_blocks: 0
        proof_window_close_offset_blocks: 4
