# Whether the server should sign all incoming requests with its own ring (for applications)
self_signing: true
# The name of the key (in the keyring) that will be used to sign relays
signing_key: app1
# The host and port that the appgate server will listen on
listening_endpoint: http://localhost:42069
# Pocket node URL that exposes CometBFT JSON-RPC API.
# This can be used by the Cosmos client SDK, event subscriptions, etc...
query_node_rpc_url: tcp://poktroll-sequencer:36657
# Pocket node URL that exposes the Cosmos gRPC service.
tx_node_grpc_url: tcp://poktroll-sequencer:36658
# Pocket node URL that exposes the Cosmos gRPC service, dedicated to querying purposes.
# If unspecified, defaults to `tx_node_grpc_url`.
query_node_grpc_url: tcp://poktroll-sequencer:36658
