signing_key_name: supplier1
smt_store_path: smt_stores
pocket_node:
  query_node_rpc_url: tcp://poktroll-validator:36657
  query_node_grpc_url: tcp://poktroll-validator:36658
  tx_node_rpc_url: tcp://poktroll-validator:36657
proxies:
- proxy_name: http-proxy
  type: http
  host: 0.0.0.0:8545
suppliers:
- service_id: anvil
  type: http
  service_config:
    url: http://anvil:8547/
  proxy_names:
  - http-proxy
  hosts:
  - tcp://relayminers:8545
metrics:
  enabled: true
  addr: :9090
pprof:
  enabled: false
  addr: :6060
