signing_key_name: supplier1
smt_store_path: smt_stores
metrics:
  enabled: true
  addr: :9090
pocket_node:
  query_node_rpc_url: tcp://poktroll-validator:36657
  query_node_grpc_url: tcp://poktroll-validator:36658
  tx_node_rpc_url: tcp://poktroll-validator:36657
suppliers:
  - service_id: anvil
    service_config:
      backend_url: http://anvil:8547/
      publicly_exposed_endpoints:
      - tcp://relayminers:8545
    listen_url: http://0.0.0.0:8545