---
# TODO_IN_THIS_COMMIT - test if this fails the CI
apiVersion: apps/v1
kind: Deployment
metadata:
  name: anvil
spec:
  replicas: 1
  selector:
    matchLabels:
      app: anvil
  template:
    metadata:
      labels:
        app: anvil
    spec:
      # TODO: Add resource limits
      containers:
        - name: anvil
          image: ghcr.io/foundry-rs/foundry:latest
          ports:
            - containerPort: 8547
          command: ["anvil"]
          args: ["-p", "8547", "-b", "5", "--host", "0.0.0.0"]
---
apiVersion: v1
kind: Service
metadata:
  name: anvil
spec:
  selector:
    app: anvil
  ports:
    - protocol: TCP
      name: rpc
      port: 8547
      targetPort: 8547
