---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: anvil
spec:
  replicas: 1
  selector:
    matchLabels:
      app: anvil
  template:
    metadata:
      labels:
        app: anvil
    spec:
      # TODO: Add resource limits
      containers:
        - name: anvil
          # TODO: going with a static tag instead of `latest` or `nightly` as latest is currently broken for darwin/arm64.
          image: ghcr.io/foundry-rs/foundry:nightly-3fa02706ca732c994715ba42d923605692062375
          ports:
            - containerPort: 8547
          command: ["anvil"]
          args: ["-p", "8547", "-b", "5", "--host", "0.0.0.0"]
---
apiVersion: v1
kind: Service
metadata:
  name: anvil
spec:
  selector:
    app: anvil
  ports:
    - protocol: TCP
      name: rpc
      port: 8547
      targetPort: 8547
