config:
  query_node_rpc_url: tcp://validator-poktroll-validator:26657
  query_node_grpc_url: validator-poktroll-validator:9090
  metrics:
    enabled: true
    addr: :9090
  pprof:
    enabled: true
    addr: localhost:6060
