config:
  suppliers:
    - service_id: anvil
      listen_url: http://0.0.0.0:8545
      service_config:
        backend_url: http://anvil:8547/
        publicly_exposed_endpoints:
          - relayminer1
    - service_id: ollama
      listen_url: http://0.0.0.0:8545
      service_config:
        backend_url: http://ollama:11434/
        publicly_exposed_endpoints:
          - relayminer1
