config:
  # TODO_TECHDEBT(@okdas): remove `signing_key_name` - which is currently present
  # for backwards-compatibity with the current helm-chart.
  signing_key_name: supplier2

  default_signing_key_names: [supplier2]
  suppliers:
    - service_id: anvil
      listen_url: http://0.0.0.0:8545
      service_config:
        backend_url: http://anvil:8547/ # Switch to http://nginx-evm-response:8547/ if you want a very fast backend response
        publicly_exposed_endpoints:
          - relayminer2
    - service_id: anvilws
      listen_url: http://0.0.0.0:8545
      service_config:
        backend_url: ws://anvil:8547/
        publicly_exposed_endpoints:
          - relayminer1
    - service_id: ollama
      listen_url: http://0.0.0.0:8545
      service_config:
        backend_url: http://ollama:11434/
        publicly_exposed_endpoints:
          - relayminer2
