# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Ignite build & test

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: install ignite
        run: |
          curl https://get.ignite.com/cli! | bash
          ignite version

      - uses: actions/checkout@v3
        with:
          fetch-depth: "0" # Per https://github.com/ignite/cli/issues/1674#issuecomment-1144619147

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.20"

      - name: Generate protobufs
        run: make proto_regen

      - name: Install CI dependencies
        run: make install_ci_deps

      - name: Generate mocks
        run: make go_mockgen

      - name: Build
        run: ignite chain build --debug --skip-proto

      - name: Mockgen
        run: make go_mockgen

      - name: Test
        run: go test -v ./...
