name: Check and Deploy docusaurus

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    paths:
      - "docusaurus/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  update-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: "0" # Per https://github.com/ignite/cli/issues/1674#issuecomment-1144619147

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.23.0"

      - name: Update gov params page
        run: make docs_update_gov_params_page

  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "yarn"
          cache-dependency-path: docusaurus/yarn.lock

      - name: Install dependencies
        run: |
          cd docusaurus
          yarn install

      - name: Build
        run: |
          cd docusaurus
          yarn build

  deploy:
    needs: validate
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      id-token: write
      pages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "yarn"
          cache-dependency-path: docusaurus/yarn.lock

      - name: Install dependencies
        run: |
          cd docusaurus
          yarn install

      - name: Build
        run: |
          cd docusaurus
          yarn build

      - name: Setup Pages
        uses: actions/configure-pages@v4
        with:
          enablement: true

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docusaurus/build

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
